
  <div class="container">
    <h1>DYREKTOR</h1>
    <mat-form-field>
      <mat-label>Wybierz dyrektora</mat-label>
        <mat-select>
          <mat-option>KORWIN MIKKE</mat-option>
          <mat-option>ANDRZEJ DUDA</mat-option>
          <mat-option>BYCZEK</mat-option>
        </mat-select>
    </mat-form-field>
    
    <button mat-raised-button color="primary"><a routerLink="/" routerLinkActive="active">POWRÓT</a></button>
    <div class="userData">
      <h2>Imię:</h2>
      <h2>Nazwisko:</h2>
      <h2>WIEK:</h2>
      <h2>Numer tel:</h2>
      <h2>Email:</h2>
    </div>
  </div>
