
<h1>Zarządzaj ocenami</h1>
<h1></h1>

<div class="gradeTable">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">

        <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Przedmiot </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="grades">
      <th mat-header-cell *matHeaderCellDef> Ocena </th>
      <td mat-cell *matCellDef="let element"> {{element.grades}} </td>
    </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <button mat-raised-button color="primary"><a routerLink="/teacher" routerLinkActive="active">POWRÓT</a></button>
