
  <div class="container">
    <h1>NAUCZYCIEL</h1>
    <mat-form-field>
      <mat-label>Wybierz nauczyciela</mat-label>
      <mat-select [(value)]="selectedTeacher">
        <mat-option *ngFor="let teacher of teachers" [value]="teacher.lastname">
          {{teacher.lastname}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="userData">
      <button mat-raised-button color="primary"><a routerLink="/" routerLinkActive="active">POWRÓT</a></button>
      <h2>Imię:{{selectedTeacher}}</h2>
      <h2>Nazwisko:{{selectedTeacher}}</h2>
      <h2>WIEK:</h2>
      <h2>Numer tel:</h2>
      <h2>Email:</h2>
    </div>
    
      
    <div class="gradeTable">
      <h2>Moja klas</h2>
      <mat-form-field>
        <mat-label>Wybierz ucznia</mat-label>
        <mat-select [(value)]="selectedMyClass">
          <mat-option *ngFor="let student of students" [value]="student.lastname">
            {{student.lastname}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <button mat-raised-button color="primary" (click)="onClick(selectedMyClass)"><a routerLink="/teacher/edit" routerLinkActive="active">Zarządzaj ocenami</a></button>
    </div>
    

    <div class="gradeTable">
      <h2>Moi Ucznowie</h2>
      <mat-form-field>
        <mat-label>Wybierz ucznia</mat-label>
        <mat-select [(value)]="selectedMyStudents">
          <mat-option *ngFor="let student of students" [value]="student.lastname">
            {{student.lastname}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <button mat-raised-button color="primary" (click)="onClick(selectedMyStudents)"><a routerLink="/teacher/edit" routerLinkActive="active">Zarządzaj ocenami</a></button>
    </div>
  </div>
