
  <div class="container">
    <h1>STUDENT</h1>
    <mat-form-field appearance="fill">
      <mat-label>Wybierz studenta</mat-label>
        <mat-select>
          <mat-option *ngFor="let student of students" [value]="student.value">
            {{student.viewValue}}
          </mat-option>
        </mat-select>
    </mat-form-field>
   
  <div class="userData">
    <button mat-raised-button color="primary"><a routerLink="/" routerLinkActive="active">POWRÓT</a></button>
    <h2>Imię:</h2>
    <h2>Nazwisko:</h2>
    <h2>WIEK:</h2>
    <h2>Numer tel:</h2>
    <h2>Email:</h2>
  </div>

  <div class="gradeTable">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">

        <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Przedmiot </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="grade">
      <th mat-header-cell *matHeaderCellDef> Ocena </th>
      <td mat-cell *matCellDef="let element"> {{element.grade}} </td>
    </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
    
  </div>
